<a href="https://colab.research.google.com/github/Netravathi08/dsa/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tupal

In [1]:
thistupil=("apple","banana","cherry")
print(thistupil)

('apple', 'banana', 'cherry')

In [2]:
t1=(101,"peter",22)
t2=("apple","banana","cherry")
y=list(t1)
x=list(t2)
y.append(t2)
t1=tuple(y)
print(t1)

(101, 'peter', 22, ('apple', 'banana', 'cherry'))

In [ ]:
#sets

In [6]:
namset={"john","janu","aishu"}
namset.add("tanay")
print(namset)

{'aishu', 'tanay', 'john', 'janu'}

In [2]:
firstset={2,3,4,5}
secondset={1,3,5,7}
print(firstset|secondset)

{1, 2, 3, 4, 5, 7}

In [3]:
firstset={2,3,4,5}
secondset={1,3,5,7}
print(firstset&secondset)

{3, 5}

In [4]:
firstset={2,3,4,5}
secondset={1,3,5,7}
print(firstset^secondset)

{1, 2, 4, 7}

In [5]:
set1={"tanay","aishwarya","netra"}
set1.add("orange")
print(set1)
set2={"varun","dheeraj","shiggavi"}
set1.update(set2)
print(set1)

{'tanay', 'orange', 'aishwarya', 'netra'}
{'tanay', 'aishwarya', 'varun', 'dheeraj', 'orange', 'shiggavi', 'netra'}

In [7]:
#accessing the dictonary values
#creating empty dictonary
dict={}
print("empty dictonary:")
print(dict)
#adding elements to dictonary one at a time
dict[0]='peter'
dict[2]='joseph'
dict[3]='ricky'
print("\no dictonary after adding 3 elements")
print(dict)
#adding set of values
#with a single key
#the emp_ages doesn't exist to dictonary
dict['emp_ages']=20,33,24
print("\no dictinary after adding elements:")
print(dict)

empty dictonary:
{}

o dictonary after adding 3 elements
{0: 'peter', 2: 'joseph', 3: 'ricky'}

o dictinary after adding elements:
{0: 'peter', 2: 'joseph', 3: 'ricky', 'emp_ages': (20, 33, 24)}

In [8]:
emp={"name":"john","age":29,"salary":25000,"company":"google"}
print(type(emp))
print("printing emp data....")
print(emp)

<class 'dict'>
printing emp data....
{'name': 'john', 'age': 29, 'salary': 25000, 'company': 'google'}