<a href="https://colab.research.google.com/github/Netravathi08/dsa/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list

In [1]:
#create list
potter=["harry",'wizard',"dumbeldore"]
print(potter)

['harry', 'wizard', 'dumbeldore']

In [2]:
list1=["physics",'chemistry',2000,1999]
list2=[1,2,3,4,5,6,7]
print("list[0]:",list1[0])
print("list2[1:5]:",list2[:])

list[0]: physics
list2[1:5]: [1, 2, 3, 4, 5, 6, 7]

In [4]:
#add element to a list
#using append()
numbers=[21,34,54,12]
print("before append:",numbers)
#using append methode
numbers.append(32)
print("after append:",numbers)

before append: [21, 34, 54, 12]
after append: [21, 34, 54, 12, 32]

In [5]:
#add elements to a list
#using extend()
numbers=[1,3,5]
even_numbers=["netra","bikki","ganesh"]
#add elements of even_numbers to the number list
numbers.extend(even_numbers)
print("list after extend:",numbers)

list after extend: [1, 3, 5, 'netra', 'bikki', 'ganesh']

In [9]:
#adding element to empty list using append
list1=[]
even_num=[1,2,3,4]
list1.append(even_num)
print(list1)

[[1, 2, 3, 4]]

In [15]:
#updating list
list=['physics','chemistry',1997,2000]
print("value available at index 2:")
print( list[2])
list[2]=2001
print ("new value available at index 2:")
print (list[2])

value available at index 2:
1997
new value available at index 2:
2001

In [10]:
#add element to a list
#using insert()
number=[21,34,54,12]
#insert an element at index 1(second position)
number.insert(1,20)
print(number)
print(len(number))

[21, 20, 34, 54, 12]
5

In [17]:
#delete function
thislist=['apple','banana','cherry']
del thislist[0]
print(thislist)
print(type(thislist))

['banana', 'cherry']
<class 'list'>

In [22]:
#clear function
thislist=['apple','banana','cherry']
thislist.clear()
print(thislist)

[]

In [25]:
#lets have look at the list example in detail
emp=["john",102,"usa"]
dep1=['cs',10]
dep2=['it',11]
hod_cs=[10,"mr.holding"]
hod_it=[11,"mr.bewon"]
print("name:",emp[0],"id:",emp[1],"country:",emp[2])
print("departments...")
print("department 1:","name:",dep1[0],"id:",dep1[1])
print("department 2:","name:",dep2[0],"id:",dep2[1])
print("hod details")
print("cs hod name:",hod_cs[1],"id:",hod_cs[0])
print("it_hod name:",hod_it[1],"id:",hod_it[0])
print(type(emp))
print(type(dep1))
print(type(dep2))
print(type(hod_cs))
print(type(hod_it))

name: john id: 102 country: usa
departments...
department 1: name: cs id: 10
department 2: name: it id: 11
hod details
cs hod name: mr.holding id: 10
it_hod name: mr.bewon id: 11
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [26]:
#sort
lis=['kk','aa','bb','igk']
lis.sort()
print(lis)

['aa', 'bb', 'igk', 'kk']